h1{
    margin: 0;
    padding: 0;

    text-align: center;

    font-size: 50px;
}

a {
    border: 2px solid black;
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    padding-top: 20px;
}

.header{
    width: 100%;
    height: 150px;

    background-color: #3498DB;
}

.header__title{
    padding-top: 50px;
}

.main-text{
    width: 80%;
    height: 600px;

    float: left;

    background-color: #00B16A;
}

.main-text__title{
    margin-top: 250px;
}

.main-img{
    width: 20%;
    height: 600px;

    float: right;

    background-color: #1E824C;
}

.main-img__title {
    margin-top: 250px;
}

.footer{
    width: 100%;
    height: 150px;

    float: left;

    background-color: #36D7B7;
}

.footer__title {
    padding-top: 50px;
}