/* ============table============ */
table, tr, td{
    border: 1px solid black;
}

table{
    width: 100%;
    border-collapse: collapse;

    font-size: 20px;
    font-weight: bold;
    color: #0000ff;
}

.data_green{
    background-color: #558f8f;
}

.data_green:hover, .data_green:focus{
    background-color: #f5f555;
}

.data_yellow{
    background-color: #f5f555;
}

.data_yellow:hover, .data_yellow:focus{
    background-color: #558f8f;
}

/* ============circles============ */

/* @keyframes r_container{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
} */

.container{
    width: 500px;
    height: 500px;
    margin-top: 10px;

    position: relative;

    /* animation-name: r_container;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

.circle_one{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: blue;
    border: 2px solid black;
    opacity: 0.6;

    position: absolute;
    top: 150px;
    left: 100px;

}

.circle_two{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: green;
    border: 2px solid black;
    opacity: 0.6;

    position: absolute;
    top: 150px;
    left: 170px;
}

.circle_three{
    width: 100px;
    height: 100px;
    border-radius: 50%;

    background-color: red;
    border: 2px solid black;
    opacity: 0.6;

    position: absolute;
    top: 80px;
    left: 135px;
}






