<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="Бистріцький, ІА-93, Артем" />
    <meta name="description" content="Інформація про студента, Артема Бистріцького" />
    <title>Float</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css" integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/float.css" />
  </head>
  <body>

    <a href="../index.html">Back to the main page</a>

    <div class="container">
        <div class="header">
            <h1 class="header__title">Text</h1>
        </div>

        <div class="main-text">
            <h1 class="main-text__title">Text</h1>
        </div>

        <div class="main-img">
            <h1 class="main-img__title">Img.</h1>
        </div>

        <div class="footer">
            <h1 class="footer__title">Img.</h1>
        </div>
    </div>

    
  </body>
</html>
